{% extends 'base_distribuidora.html' %}
{% load staticfiles %}
{% load static %}
{% load static from staticfiles  %}

{% block contenido %}

<form method="post" action="" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}




          <input type="hidden" value="{{dist}}" name="distribuidora" readonly="True">
          <input type="hidden" name="id" value="{{anuncio.id}}" readonly="True">


    <div class="form-group">
        <label for="" class="col-sm-2 control-label">Título:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="id_titulo" name="titulo" value="{{anuncio.titulo}}" disabled="True">
          <div id="errorTitulo">Falta poner el Titulo</div>
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">Fecha de Início</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="fecha_inicio" id="id_fecha_inicio" value="{{anuncio.fecha_inicio|date:"d/m/Y"}}" disabled="True">
          <div id="errorInicio">Falta indicar una fecha de Inicio</div>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-2 control-label">Fecha de Finalización</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="fecha_fin" id="id_fecha_fin" value="{{anuncio.fecha_fin|date:"d/m/Y"}}" disabled="True">
          <div id="errorFin">Falta indicar una fecha de Finalización</div>
          <div id="errorFecha">La Fecha de Inicio es posterior a la de Fin</div>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-2 control-label">Descripción</label>
        <div class="col-sm-10">
          <textarea id="id_descripcion" class="form-control"  name="descripcion" rows="2" disabled="True">{{anuncio.descripcion}}</textarea>
        </div>
    </div>
    <div class="form-group">
      <label for="" class="col-sm-2 control-label">Dia:</label>
        <div class="col-sm-3">

		<select class="form-control" name="estado" disabled="True" id="id_estado">
		{% for e in estado %}
        {% if e.0 == anuncio.estado %}
          <option value="{{e.0}}" selected>{{e.1}}</option>
        {% else %}
          <option value="{{e.0}}">{{e.1}}</option>
        {% endif %}
		{% endfor %}
		</select>
</div>

    </div>

    <div class="form-group">
      <label for="" class="col-sm-2 control-label">Ímagen</label>
      <div class="col-sm-1">
        <img src="/media/{{anuncio.imagen}}" width=100px heigth=100px>
      </div>
        <label for="" class="col-sm-3 control-label">Elegir Otra Ímagen</label>
        <div class="col-sm-5">
          <input id="id_imagen" type="file" name="img"/ disabled="True">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">

          <input type="button" value="Activa Edición" class="btn btn-primary" id="btn_activa_guardar"/>
          <input type="submit" value="Guardar Anuncio" class="btn btn-default" id="btn_guardar_anuncio" disabled="true" />
        </div>
    </div>

</form>

{% endblock %}

{% block js%}

  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/anuncio.js' %}"></script>


{% endblock %}
