{% extends 'base.html' %}
{% block contenido %}
	<h1>Listado de Anuncios</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Título</th>
				<th>Descripción</th>
				<th>Creado</th>
				<th>Inicio</th>
				<th>Fin</th>
				<th>Estado</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for anuncio in anuncios %}
				<tr>
					<td>{{anuncio.titulo}}</td>
					<td>{{anuncio.descripcion | truncatechars:100}}</td>
					<td>{{anuncio.fecha_creación}}</td>
					<td>{{anuncio.fecha_ini}}</td>
					<td>{{anuncio.fecha_fin}}</td>
					<td>{{anuncio.estado}}</td>
					<td> 	
						<a href="#"><span class="acciones glyphicon glyphicon-search"></span></a>
				 		<a href="#"><span class="acciones glyphicon glyphicon-edit"></span></a>
						<a href="#"><span class="glyphicon glyphicon-remove"></span></a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
{% block aside %}
{% endblock %}