{% extends 'base_distribuidora.html'%}
{% block menu%}
	<a href="{%url 'anuncios' pk=distribuidora.id pag=1%}" class="list-group-item">Anuncios</a>
	<a href="#" class="list-group-item">Socios</a>
	<a href="#" class="list-group-item">Rutas</a>
	<a href="#" class="list-group-item">Productos</a>
{% endblock %}
{% block contenido %}
	<p>Distribuidora: {{distribuidora.nombre|capfirst}}</p>
	<p>Dirección: {{distribuidora.direccion|capfirst}}</p>
	<p>Teléfono: {{distribuidora.numero_contacto}}</p>
	<p>Descripción: {{distribuidora.descripcion|capfirst}}</p>
{% endblock %}