{% extends "base_distribuidora.html" %}
{% load staticfiles %}

{% block contenido %}
<form method="post" action="" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">Empresa:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" value="{{dist.nombre}}" readonly="True">
          <input type="hidden" value="{{dist.id}}" name="distribuidora" readonly="True">
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">Título:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="id_titulo" name="titulo" placeholder="Ingrese el título del Anuncio">
          <p id="errorTitulo" class="text-danger">Falta poner el Titulo</p>
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">Fecha de Início</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="fecha_inicio" id="id_fecha_inicio" placeholder="Ingresar Fecha de Inicio del Anuncio">
          <div id="errorInicio">Falta indicar una fecha de Inicio</div>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-2 control-label">Fecha de Finalización</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="fecha_fin" id="id_fecha_fin" placeholder="Ingresar Fecha de Finalizacion o Fin del Anuncio">
          <div id="errorFin">Falta indicar una fecha de Finalización</div>
          <div id="errorFecha">La Fecha de Inicio es posterior a la de Fin</div>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-2 control-label">Descripción</label>
        <div class="col-sm-10">
          <textarea class="form-control"  name="descripcion" rows="3" placeholder="Ingrese ls Descripción del Anuncio"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-sm-2 control-label">Ímagen</label>
        <div class="col-sm-10">
          <input type="file" name="img"/>
        </div>
    </div>

    <div class="form-group">
        <div class="pull-right col-md-0">
          <input type="submit" value="Guardar Anuncio" class="btn btn-primary" id="btn_guardar_anuncio"/>
          <a href="{%url 'anuncios' %}?dist={{dist.id}}&pag=1" class="btn btn-default">Cancelar</a>
        </div>
    </div>

</form>

{% endblock %}

{% block js%}

  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/anuncio.js' %}"></script>


{% endblock %}
