{% extends 'base_distribuidora.html'%}
{% load static %}
{% load static from staticfiles  %}
{% block menu%}
	<a href="{% url 'anuncios'%}?dist={{dist.id}}&pag=1" class="list-group-item">Anuncios</a>
	<a href="{% url 'socios'%}?dist={{dist.id}}" class="list-group-item">Socios</a>
	<a href="{% url 'rutas'%}?dist={{dist.id}}" class="list-group-item">Rutas</a>
	<a href="{% url 'productos'%}?dist={{dist.id}}" class="list-group-item">Productos</a>
	<!-- Paginacion -->
{% endblock %}
{% block aside %}
	<div class="panel-group" id="accordion" role="tablist">
		{% if distribuidoras %}
			<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="Heading1">
				<h4 class="panel-title">
					<a href="#collapse1" data-toggle="collapse" data-parent="#accordion" class="btn">
						Distribuidoras
					</a>
				</h4>
			</div>
			<div id="collapse1" class="panel-collapse collapse">
				{% for d in distribuidoras %}
					<a href="{% url 'distribuidora'%}?dist={{d.distribuidora.id}}" class="list-group-item">{{d.distribuidora.nombre|capfirst}}</a>
				{% endfor %}
			</div>
			</div>
		{% endif %}
		{% if negocios %}
			<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="Heading1">
				<h4 class="panel-title">
					<a href="#collapse2" data-toggle="collapse" data-parent="#accordion">
						Negocios
					</a>
				</h4>
			</div>
			<div id="collapse1" class="panel-collapse collapse">
				{% for n in negocios %}
					<a href="{% url 'negocio'%}?dist={{n.negocio.id}}" class="list-group-item">{{n.negocio.nombre|capfirst}}</a>
				{% endfor %}
			</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
{% block contenido %}
	<p>Distribuidora: {{dist.nombre|capfirst}}</p>
	<p>Dirección: {{dist.direccion|capfirst}}</p>
	<p>Teléfono: {{dist.numero_contacto}}</p>
	<p>Descripción: {{dist.descripcion|capfirst}}</p>
{% endblock %}
