{% extends "base_distribuidora.html" %}
{% load staticfiles %}
{% block menu%}
	<a href="{% url 'anuncios'%}?dist={{dist}}&pag=1" class="list-group-item">Anuncios</a>
	<a href="#" class="list-group-item">Socios</a>
	<a href="{% url 'rutas'%}?dist={{dist}}" class="list-group-item">Rutas</a>
	<a href="{% url 'productos'%}?dist={{dist}}" class="list-group-item">Productos</a>
	<!-- Paginacion -->
{% endblock %}
{% block aside %}
{% endblock %}

	
{% block contenido %}	

<!--<input class='btn btn-primary btn-xs' type='text' id='btnActualizar' value='Actualizar'>-->
<div class="row">
	<div class="col-md-3">
			<label>Seleccione una Categorias</label>
			<select class="form-control" id="categorias">
				<option></option>
				{% for i in categorias %}
					<option value="{{i.id}}&{{dist}}" >{{i.nombre}}</option>
				{% endfor %}
			</select>

			<label>Seleccione una Sub Categorias</label>
			<select class="form-control" id="subCategorias">#</select>
			
			<label>Seleccione una Marca:</label>
			<select class="form-control" id="m_x_sc_d">#</select>
			
		
	</div>
	<div class="col-md-9" id="tabla">
  <div class='container'><div class='list-group col-md-9'>
  </div></div>
		
	</div>
	<dir id="enlace">
		
	</dir>
</div>	
{% endblock %}
{% block js %}
  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/productos.js' %}"></script>

  
{% endblock %}
		
