{% extends "base_distribuidora.html" %}
{% load staticfiles %}
{% block menu%}
    <a href="{% url 'anuncios'%}?dist={{dist}}&pag=1" class="list-group-item">Anuncios</a>
    <a href="{% url 'socios'%}?dist={{dist}}" class="list-group-item">Socios</a>
    <a class="list-group-item active">Rutas</a>
    <a href="{% url 'productos'%}?dist={{dist}}" class="list-group-item">Productos</a>
{% endblock %}
{% block contenido %}
    
    <h4>Listado de Rutas</h4>   
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Recorrido</th>
                <th>Dia</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for ruta in rutas %}
                <tr>
                    <td>{{ruta.nombre}}</td>
                    <td>{{ruta.recorrido | truncatechars:100}}</td>
                    <td>{{ruta.get_dia_display}}</td>
                    {%if ruta.estado%}
						<td>Activada</td>
					{%else%}
						<td>Desactivada</td>
					{%endif%}
                    <td>    
                        
                        <a onclick="return abrir_modal('{% url 'detalle_ruta'%}?dist={{dist}}&ruta={{ruta.id}}')"><span class="acciones glyphicon glyphicon-search"></span></a>

                        <a onclick="return abrir_modal('{% url 'actualizar_ruta'%}?ruta={{ruta.id}}&dist={{dist}}')"><span class="acciones glyphicon glyphicon-edit"></span></a> 

                        <a href="{% url 'eliminar_ruta'%}?dist={{dist}}&ruta={{ruta.id}}"><span class="glyphicon glyphicon-remove"></span></a>
                        
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

   <div id="popup" class="modal fade" role="dialog"></div> 
{% endblock %}

{% block aside %}
        <a onclick="return abrir_modal('{% url 'crear_ruta'%}?dist={{dist}}')" class="btn btn-primary btn-sm">Crear Ruta</a>
{% endblock %}


{% block js %}
 

  <script type="text/javascript">  

function abrir_modal(url)
{
        $('#popup').load(url, function()
        {
                $(this).modal('show');
        });
        return false;
}

function cerrar_modal()
{
        $('#popup').modal('hide');
        return false;
}

</script>

  
{% endblock %}
