{% extends 'base_distribuidora.html' %}
{% block menu%}
	<a href="{% url 'anuncios'%}?dist={{dist.id}}&pag=1" class="list-group-item">Anuncios</a>
	<a href="{% url 'socios'%}?dist={{dist.id}}" class="list-group-item">Socios</a>
	<a href="{% url 'rutas'%}?dist={{dist.id}}" class="list-group-item">Rutas</a>
	<a href="{% url 'productos'%}?dist={{dist.id}}" class="list-group-item">Productos</a>
{% endblock %}
{% block contenido %}
    <h4>Solicitudes Pendientes</h4>   
    <table class="table">
        <thead>
            <tr>
                <th>Localidad</th>
                <th>Nombre del Negocio</th>
                <th>Direccion</th>
            </tr>
        </thead>
        <tbody>
            {% for s in solicitudes %}
                <tr>
                    <td>{{s.solicitud.localidad.nombre}}</td>
                    <td>{{s.solicitud.n_nombre}}</td>
                    <td>{{s.solicitud.direccion}}</td>
                    {%if s.solicitud.user.is_active == False %}
						<td>
							<a href="{% url 'activar_n'%}?dist={{dist.id}}&user={{s.solicitud.user_id}}">
							<span class="glyphicon glyphicon-check"></span> (Activar)</a>
						</td>
					{%else%}
						<td>
							<a href="{% url 'asociar_n'%}?dist={{dist.id}}&user={{s.solicitud.user_id}}&s_id={{s.id}}">
							<span class="glyphicon glyphicon-resize-small"></span> (Asociar)</a>
						</td>
					{%endif%}
                    <td>    
                        <a href="{% url 'ignorar_n'%}?dist={{dist.id}}&s_id={{s.id}}">
						<span class="glyphicon glyphicon-remove"></span> (Ignorar)</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
	
	
</div>
{% endblock %}
{% block aside %}
{% endblock %}
