{% block contenido %}   
<div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form role="form" action="{% url 'negocio:actualizar_pedido' %}" method="post">
            {% csrf_token %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4>{{pedido.socio}}</h4><input type="hidden" name="s" value="{{pedido.socio.id}}">
                <label style="float: right;">{{pedido.fecha_creacion|date:"j / M / Y"}}</label>
                
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                        <div class="panel-body">
                                <table id="tabla" class="table">
                                    <thead>
                                        <tr>
                                            <th class="">Nombre</th>
                                            <th class="">Presentación</th>
                                            <th class="">Precio Unitario</th>
                                            <th class="">cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for p in detalle_pedido %}
                                            <tr>
                                                <td>{{ p.producto.producto }}</td>
                                                <td>{{ p.producto.presentacion }}</td>
                                                <td>${{ p.precio_unitario }}</td>
                                                <td>
                                                    
                                                    <input type="hidden" name="{{p.nameId}}"  value={{p.id}} readonly="True"/>
                                                    <input type="number" name="{{p.nameCantidad}}"  value={{p.cantidad}}>
                                                </td>                    
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                
                                
                        </div>
                </div>
            </div>
                        <div class="modal-footer">
                                <div class="col-lg-12 text-right">
                                    <!--
                                        <input type="submit" class="btn btn-primary" value="Guardar" 
                                            id="btn-guardar"
                                            data-toggle="modal" 
                                            data-target="#myModal">
                                    -->
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">   Aceptar
                                        </button>

                                        <button type="button" class="btn btn-default" onclick="return cerrar_modal()">
                                                Cancelar
                                        </button>
                                </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog modal-sm">

                              <!-- Modal content-->
                              <div class="modal-content">
                                <div class="modal-header">
                                    
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Modal Header</h4>
                                </div>
                                <div class="modal-body">
                                  <p>¿Esta seguro que quiere realizar los cambios?</p>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" class="btn btn-primary" value="Guardar">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                              
                            </div>
                        </div>
                    <!-- fin Modal --> 


                </form>
        </div>
</div>
  
  

 


{% endblock %}

{% block js %}

<script>

</script>
 
{% endblock %}
        
