{% block contenido %}   
<div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form role="form" action="{% url 'negocio:lista_productos' %}?ms_d={{ms_d}}&n_d={{n_d}}&p={{nro_pedido}}" method="post">
            {% csrf_token %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4><strong>{{producto.marcaXSubcategoriaDistribuidora.distribuidora}}</strong> - {{producto.marcaXSubcategoriaDistribuidora.marcaSubCategoria.subCategoria.nombre}} - {{producto.marcaXSubcategoriaDistribuidora.marcaSubCategoria.marca.nombre}} </h4>
                
                <input type="hidden" name="nro"  value={{nro}}>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                        <div class="panel-body">
                                <table id="tabla" class="table">
                                    <thead>
                                        <tr>
                                            <th class="">Nombre</th>
                                            <th class="">Presentación</th>
                                            <th class="">Precio Unitario</th>
                                            <th class="">cantidad</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for p in p_d %}
                                            <tr>
                                                <td>{{ p.producto.nombre }}</td>
                                                <td>{{ p.presentacion }}</td>
                                                <td>${{ p.precio_unitario }}</td>
                                                <td>
                                                    <input type="number"   name="{{p.nameText}}" />
                                                    <input type="hidden" name="{{p.nameHidden}}"  value={{p.id}} readonly="True"/>
                                                    <input type="hidden" name="{{p.namePrecio}}"  value={{p.precio_unitario}} readonly="True"/>
                                                </td>                    
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                
                                
                        </div>
                </div>
            </div>
                        <div class="modal-footer">
                                <div class="col-lg-12 text-right">
                                        <input type="submit" class="btn btn-primary" value="Agregar al Carrito">
                                        <button type="button" class="btn btn-default" onclick="return cerrar_modal()">
                                                Cancelar
                                        </button>
                                </div>
                        </div>
                </form>
        </div>
</div>
{% endblock %}