@font-face{
  font-family: Aarvark Cafe;
  src:url(fuentes/Aarvark Cafe.ttf);
}

body {
 background: url(../img/fondooo.png);
}

header {
	background: #e0e0e0;
}

footer {
	width: 100%;
	background: #e0e0e0;
	padding-top: 10px;
	padding-bottom: 10px;
	position: absolute;
	bottom: 0;
}

h3, h4{
  color: #337ab7;
  font-family: Aarvark Cafe;
}

h4{
  font-size: 25px;
}

.adondeLink{
font-family: Aarvark Cafe;  
font-size: 20px;
}

a, p, label, b{
  font-family: monospace;
  font-size: 14px;
}

.acciones {
	margin-right: 15px;
}

.iconos{
 margin-right: 2%;
}

.grid-item {
  width: 150px;
  height: 300px;
  float: left;
  background:  #fff;
  border-radius: 10px;
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.22);
  margin: 4px;
}

.grid-item--width2 { width: 236px; margin: 2px;}
.grid-item--width4 { width: 260px; margin: 2px;}
.grid-item--height2 { height: 320px; }
.grid-item--height3 { height: 340px; }
.grid-item--height4 { height: 360px; }
.grid-item p{
  padding: 10px;
}

.grid-item img{
  width: 95%;
  border-radius: 15px;
  margin-left: 2%;
  //margin-right: 15%;
  margin-top: 1%;
}
