{% extends 'base.html' %}
{% load static %}
{% load static from staticfiles  %}
{% block contenido %}
	<div class="container">
		{% if distribuidoras %}
			<h3>Distribuidoras asociadas a la cuenta</h3>
			<table class="table">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Domicilio</th>
						<th>Pedidos pendientes</th>
						<th>Acción</th>
					</tr>
				</thead>
				<tbody>
					{% for d in distribuidoras %}
						<tr>
							<td>{{d.distribuidora.nombre|capfirst}}</td>
							<td>{{d.distribuidora.direccion|capfirst}}</td>
							<td>-</td>
							<td><a href="{% url 'distribuidora' %}?dist={{d.distribuidora.id}}" class="btn btn-default">Seleccionar</a></td>
						</tr>
					{% endfor %}

				</tbody>
			</table>
		{% endif%}

		{% if negocios %}
			<h3>Negocios asociados a la cuenta</h3>
			<table class="table">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Domicilio</th>
						<th>Acción</th>
					</tr>
				</thead>
				<tbody>
					{% for n in negocios %}
						<tr>
							<td>{{ n.negocio.nombre|capfirst }}</td>
							<td>{{ n.negocio.direccion|capfirst }}</td>
							<td><a href="" class="btn btn-default">Seleccionar</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
		
		{% if user.is_staff and sds	%}
			<h3>Distribuidoras pendientes de Activacion ({{ sd_cant }})</h3>
			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>CUIT</th>
						<th>Razon Social</th>
						<th>Activar</th>
						<th>Rechazar</th>
					</tr>
				</thead>
				<tbody>
					{% for s in sds %}
						<tr>
							<td>{{ s.id }}</td>
							<td>{{ s.cuit }}</td>
							<td>{{ s.n_nombre }}</td>
							<td>
								<a href="{% url 'activar_d'%}?user={{s.user.id}}">
								<span class="glyphicon glyphicon-check"></span></a>
							</td>
							<td>    
								<a href="{% url 'ignorar_d'%}?s_id={{s.id}}">
								<span class="glyphicon glyphicon-remove"></span></a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
	</div>
{% endblock %}
